.galery {
    margin-top: 618px;
   
    width: 100%px;
    height: 700px;
    overflow: hidden;
}

.galery .fotos {
    width: 502%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.9%;
}